In [6]:
n=8
for i in range(n):
    if i == 4:
        continue
    print(i, end=" ")
print()
print("program done")

0 1 2 3 5 6 7
program done

In [8]:
n=8
for i in range(n):
    if i==4:
        continue
        print("four",end='')
    print(i,end="")
print()
print("program done")

0123567
program done

In [9]:
i=0
while i<4:
    i+=1
    if i==2:
        continue
    print(i)

1
3
4

In [11]:
for i in range(3):
    for j in range(3):
        if i == j:
            break
        print(i,j)

1 0
2 0
2 1

In [3]:
for i in range(5):
    if i%2==0:
        continue
    print(i,end=" ")

1 3

In [7]:
n=8
for i in range(n):
    if i==4:
        break
        print("Four",end =' ')
    print(i, end=" ")
else:
    print("program done")

0 1 2 3

In [8]:
n=8
for i in range(n):
    if i==4:
        #break
        print("Four",end =' ')
    print(i, end=" ")
else:
    print("program done")

0 1 2 3 Four 4 5 6 7 program done

In [12]:
l=[1,2,3,4,5]
n=3
for num in l:
    if num==n:
        print(f"{n} in list")
        break
else:
    print(f"{n} not in list")

3 in list

In [13]:
l=[1,2,3,4,5]
n=15
for num in l:
    if num==n:
        print(f"{n} in list")
        continue
else:
    print(f"{n} not in list")

15 not in list

In [15]:
l=[1,2,3,4,5]
n=15
i=0
while i<len(l):
    if l[i]==n:
        print(f"{n} in list")
        break
    i+=1
else:
    print(f"{n} not in list")

15 not in list

In [21]:
x=int(input())
assert x>0,'value must be positive'
print(x+5)

 10

15