In [4]:
#print list of numbers from 1 to 10?
lst=[]
for i in range(1,11):
    lst.append(i)
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
lst=[x for x in range(1,11)]
print(lst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
#List of even numbers from 1 to 20?
even=[x for x in range(1,21) if x%2==0]
print(even)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [10]:
#list of odd numbers from 1 to 20?
odd=[x for x in range(0,22) if x%2==0+1]
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21]

In [18]:
#list of odd numbers 1-20 without using '==' and'!='?
lt=[x for x in range(1,21,2)]
print(lt)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [25]:
if 11%2:
    print("Hello")
else:
    print("Hi")

Hello

In [26]:
lst=[x for x in range(2,21) if x%2]
print(lst)

[3, 5, 7, 9, 11, 13, 15, 17, 19]

In [41]:
#Find even numbers from the list without using '=='?
l=[2,443,54,65,66,86,91]
lt=[x for x in l if not x%2]
print(lt)

[2, 54, 66, 86]

In [42]:
l=[2,443,54,65,66,86,91]
#true_statements if condition else false_statements
n=10
res="even" if not n%2 else 'odd'
print(res)

even

In [44]:
l=[2,443,54,65,66,86,91]
#true_statements if condition else false_statements
res=["even" if not x%2 else 'odd' for x in l]
print(res)

['even', 'odd', 'even', 'odd', 'even', 'even', 'odd']

In [46]:
l=[2,443,54,65,66,86,91]
#true_statements if condition else false_statements
res=[f"{x}-even" if not x%2 else f"{x}- odd" for x in l]
print(res)

['2-even', '443- odd', '54-even', '65- odd', '66-even', '86-even', '91- odd']

In [48]:
#Nested loops in list comprehension
lt=[(i,j) for i in range(1,6) for j in range(1,6)]
print(lt)

[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5)]

In [51]:
#Finding two dice possible combination?
lt=[(i,j) for i in range(1,7) for  j in range(1,7)]
print(lt)

[(1, 1), (1, 2), (1, 3), (1, 4), (1, 5), (1, 6), (2, 1), (2, 2), (2, 3), (2, 4), (2, 5), (2, 6), (3, 1), (3, 2), (3, 3), (3, 4), (3, 5), (3, 6), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 1), (5, 2), (5, 3), (5, 4), (5, 5), (5, 6), (6, 1), (6, 2), (6, 3), (6, 4), (6, 5), (6, 6)]

In [54]:
# sum of 6  combination in two dices?
lt=[(i,j) for i in  range(1,7) for j in range(1,7)  if i+j==6]
print(lt)

[(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)]

In [55]:
#Atleast one dice facing 4?
lt=[(i,j) for i in  range(1,7) for j in range(1,7)  if i==4 or j==4]
print(lt)

[(1, 4), (2, 4), (3, 4), (4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (5, 4), (6, 4)]

In [31]:
#Give a string of numbers seperated by comma a nd space,return the product of the numbers?
def product_of_numbers(number_string):
    numbers = number_string.split(",")
    product = 1
    for num in numbers:
        product *= int(num)
    return product
print(product_of_numbers("10,-2"))
print(product_of_numbers("1,2,3,4"))
print(product_of_numbers("1,2,3"))

-20
24
6

In [35]:
#create a function that squares every digit of number?
def square_digits(num):
    squared_str = ''.join(str(int(digit)**2) for digit in str(num))
    return int(squared_str)
print(square_digits(9119))
print(square_digits(2483))
print(square_digits(3212))

811181
416649
9414

In [26]:
#create a function that returns the mean of all digit?
def mean(num):
 digits=[int(d) for d in str(num) if d.isdigit()]
 return sum(digits)/len(digits) if digits else 0
print(int(mean(42)))
print(int(mean(12345)))
print(int(mean(666)))

3
3
6

In [27]:
#create a function that sort a list and remove all duplicates item in the list?
def unique_in_list(lst):
    return sorted(set(lst))
print(unique_in_list([1,3,3,5,5]))
print(unique_in_list([4,4,4,4]))
print(unique_in_list([5,7,8,9,10]))
print(unique_in_list([3,3,3,2,1]))

[1, 3, 5]
[4]
[5, 7, 8, 9, 10]
[1, 2, 3]